:root {
    --lightgreen: #3cc23f;
    --lightgray: #E6ECF0;
    --white: #ffffff;
    --black: #000000;
    --lightblue-rgb: 221, 234, 243;
    --brightblue: #108BE3;
    --nightblue: #242F3E;
    --bluishgray: #334557;
}