@import "colors";

$maxCellPhone: 500px;
$minTablet: 501px;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-family: Verdana, sans-serif;
}

body {
  transition: background-color 0.5s;
  
  &.night {
    background-color: var(--nightblue);
    transition: background-color 0.5s;
  }
}

#my-chart-wrapper {
  position: relative;

  .switch-mode-btn {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 25px;
    border: none;
    background: none;
    color: var(--brightblue);
    font-size: 16px;
    outline: none;
  }

  .charts-container {
    .ruler-container {
      position: relative;
      height: 50px;
      margin-left: 8px;
      width: calc(100vw - 27px);

      @media (min-width: $minTablet) {
        margin-left: 40px;
        width: calc(500px - 40px);
      }

    }
  
    #chart {
      position: absolute;
      height: inherit;
      width: inherit;
    }
  
    #window-sizer-wrapper {
      position: absolute;
      left: 0;
      height: inherit;
      width: inherit;
  
      #window-sizer {
        cursor: pointer;
        position: relative;
        width: 100px;
        height: inherit;
        border-top: 1px solid rgba(var(--lightblue-rgb), 0.7);; 
        border-bottom: 1px solid rgba(var(--lightblue-rgb), 0.7);; 
  
        .sizer {
          position: absolute;
          width: 6px;
          height: inherit;
          background-color: rgba(var(--lightblue-rgb), 0.7);
          
          @media (max-width: $minTablet) {
            width: 10px;
          }

          &-right {
            right: 0px;
          }
        }
      }
    }
  }
  
  .checkboxes-container {
    margin: 20px 0 20px 30px;

    @media(max-width: $maxCellPhone) {
      margin-left: 10px;
    }
  
    .category-checkbox {
      cursor: pointer;
      position: relative;
      padding: 5px 5px 5px 30px;
      border: 1.5px solid var(--lightgray);
      border-radius: 15px;
      transition: border 0.5s;

      &.night {
        border-color: var(--bluishgray);
        transition: border 0.5s;
      }

      &:nth-child(2) {
        margin-left: 10px;
      }
  
      .checkmark {
        position: absolute;
        top: 3px;
        left: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--checkbox1Color);
        transition: background-color 0.5s;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          transform: rotate(90deg);
          transition: transform 0.5s;
        }
      }

      .category-name {
        color: var(--black);
        transition: color 0.5s;

        &.night {
          color: var(--white);
          transition: color 0.5s;
        }
      }
  
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked + .checkmark {
          background-color: var(--checkbox1Color);
          transition: background-color 0.5s;

          &::after {
            width: 5px;
            height: 8px;
            top: 4px;
            left: 7px;
            border: solid var(--white);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform 0.5s;
          }
        }
      }
    }
  
    .category-checkbox:nth-child(2) {
      .checkmark {
        border-color: var(--checkbox2Color);
      }
  
      input[type="checkbox"] {
        &:checked + .checkmark {
          background-color: var(--checkbox2Color);
        }
      }
    }
  }
}





